*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    /* color: #eee; */
}
/* .inner{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.full{
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px solid #eee;
    
}
.wrapper{
    text-align: center;
    border: 2px solid red;
    width: 40%;
    margin: 0 auto;
}
.inner{
    border: 2px solid blue;
    padding: 3%;
    /* color: #fff; */
}
.medium{
    width:70%;
}